<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Database</title>
</head>
<body>
    <div>
        Hello {{ user }}
        {% if user.is_authenticated %}
              <a href="{% url 'logout' %}">Log off</a>
        {% endif %}
        <br><br>
        <a href="{% url 'fav' %}">Favourites</a>
        <a href="{% url 'main-page' %}">Search for movies</a>
        <br><br>
        {% if movie_form %}
            <form action="{% url 'main-page' %}" method="POST">
                {% csrf_token %}
                {{ movie_form.as_p }}
                <button type="submit">Search</button>
            </form>
        {% endif %}
        <br><br>
        {% if movies %}

            <div class="pagination">
                {% if movies.has_previous %}
                    <a href="?page=1&&title={{ title }}"><<</a>
                    <a href="?page={{ movies.previous_page_number }}&&title={{ title }}"><</a>
                {% endif %}
                {% for num in movies.paginator.page_range %}
                    {% if movies.number == num %}
                        <span><strong>{{ num }}</strong></span>
                    {% elif num > movies.number|add:'-3' and num < movies.number|add:'3' %}
                        <a href="?page={{ num }}&&title={{ title }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}
                {% if movies.has_next %}
                <a href="?page={{ movies.next_page_number }}&&title={{ title }}">></a>
                <a href="?page={{ movies.paginator.num_pages }}&&title={{ title }}">>></a>
                {% endif %}
            </div>
            <br>
            {% for movie in movies %}
                <div>
                    <span>
                    Title: {{ movie.title }}<br>
                    Year: {{ movie.year }}<br>
                    Type: {{ movie.type }}<br>
                    IMDB ID: {{ movie.imdb_id }}<br>

                    </span>
                    <img src="{{ movie.poster }}">
                    {% if user not in movie.user.all %}
                        <form action="{% url 'fav' movie.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit">Add to Favourites</button>
                        </form>
                    {% else %}
                        <form action="{% url 'fav' movie.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit">Remove from Favourites</button>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>